<table class="table table-striped">
  <th>E-mail</th>
  <th>Função</th>
  <th>Ação</th>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <% if !user.admin? %>
        <td><%= link_to('Tornar admin', user_change_role_path(user), method: 'put', class: 'btn btn-success') %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>