<h1>Editando estágio</h1>

<% if teacher_signed_in? %>
  <%= render 'teacher_form' %>
<% elsif student_signed_in? %>
  <%= render 'form' %>
<% end %>

<%= link_to 'Show', @internship %> |
<%= link_to 'Back', internships_path %>
