<%= javascript_include_tag 'displays.js' %>

<input id="GRR" type="text" value="GRR00000007"></input>

<span id="buttonSearchGRR">Buscar</span>

<div style="clear:both"></div>

<textarea id="result" rows="20" cols="100"></textarea>