<%= javascript_include_tag 'displays.js' %>

<input id="GRR" type="text" value="GRR00000007"></input>

<span id="buttonSearchGRR">Buscar</span>

<div style="clear:both"></div>

<textarea style="width: 100%" id="student-result"></textarea>
<textarea style="width: 100%" id="program-result"></textarea>
