<%= javascript_include_tag 'displays.js' %>

<input id="GRR" type="text" value="GRR00000007"></input>

<span id="buttonSearchGRR">Buscar</span>

<div style="clear:both"></div>



	<spam class="tooltip" id="tooltip">
		<spam class="tooltip-triangle"></spam>
		<table class="tooltipTable">
			<tr class="tooltipTableStatus"><td id="tooltipStatus"colspan="3">Aprovado</td></tr>
			<tr class="tooltipTableTitle"><td>Nota</td><td>Frequencia</td><td>Semestre</td></tr>
			<tr class="tooltipTableRow">
				<td id="tooltipGrade"></td>
				<td id="tooltipFreq"></td>
				<td id="tooltipYear"></td>
			</tr>			
		</table>	
	</spam>
	<spam  class="tooltip" id="tooltip2">text</spam>

	<div class="grid" id="gridContainer" oncontextmenu="return false;">
		
	</div>

<br/>
<br/>
<br/>

<textarea style="width: 100%" id="student-result"></textarea>
<textarea style="width: 100%" id="program-result"></textarea>
