<div class="page-header">
  <h1><%=link_to(@major.name, major_path(@major))%>> Upload de Grade</h1>
</div>

<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'program_xml', class: "btn" %>
  <%= submit_tag("Upload", class: "btn-success") %>
<% end %>
</br>

<p>Você pode fazer upload do histórico acadêmico dos alunos utilizando um arquivo no formato CSV em UTF-8</p>