<p>
  <strong>State:</strong>
  <%= @acform.state %>
</p>

<p>
  <strong>Student:</strong>
  <%= @acform.student %>
</p>

<% if @acform.open? %>
  <%= link_to 'Edit', edit_acform_path(@acform) %> |
<% end %>
<%= link_to 'Back', acforms_path %>
