// Place all the styles related to the displays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0px;
}

.container{
	width: 100%;
	max-width: 1000px;
	min-width: 755px;
	margin: auto;
	padding: 5px;
	overflow: hidden;
	background-color: white;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
	box-shadow: 0px 2px 5px -2px black;
	-webkit-box-shadow: 0px 2px 5px -2px black;
	-moz-box-shadow: 0px 2px 5px -2px black;
	margin-bottom: 5px;
	color: black;
}

.grid {
	background-color: #eeeeee;
}

.info{
}

grid:after, grid:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.gridCell {
	width: 100%;
	height: 60px;
	margin-bottom: 4%;
	overflow: visible;
}

.gridCol {
	float: left;
	margin: 0.25%;
	overflow: visible;

}

.gridCourseCode {
	font-weight: bolder;

}

.gridContent{
	width: 90%;
	height: 80%;
	overflow: hidden;
	margin: auto;
	padding: 5px;
	cursor: default;
	line-height: 75%;
	text-align: center;
	border-color: lightgrey;
	border-width: 1px;
	border-style: solid;
}

.gridCourseName{
	font-size: 12px;
	max-width: 95%;
}

.gridColTitle{
	width: 100%;
	height: 20px;
	text-align: center;
	background-color: #333333;
	color: lightgrey;
	font-weight: bolder;
}

.statusDefault{
	background-color: white;
}

.statusFailed{
	background-color: #CF676F;
}

.statusFailed2{
	background-color: #C2414A;
}

.statusCanceled{
	background-color: lightgrey;
}

.statusApproved{
	background-color: #7499E0;
}

.statusExempt{
	background-color: #257BDA;
}

.statusSuspended{
	background-color: darkgrey;
}

.statusEnrolled{
	background-color: #E9C964;
}

.courseInfo{
	display: none;
	text-align: center;
}

.infoTable{
	width: 100%;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.infoTableRow{
}

[data-assigned = 'true']{
		cursor: pointer;
}

[data-assigned = 'true']:hover{
	box-shadow: 1px 1px 4px 0px black;
	-moz-box-shadow: 1px 1px 4px 0px black;
	-webkit-box-shadow: 1px 1px 4px 0px black;
}

[data-selected = 'true']{
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
}

.infoTable{
	max-height: 100px;
	overflow: scroll;
}

.infoTableTitle{
	color: grey;
	background-color:#eeeeee;
}

.opttag{
	font-weight: normal;
	font-style: italic;
}

.optleft{
	margin: 5px;
	float:left;	
}

.optCells{
	width: 100%;
	float: left;
}

#infoCourseName{
	text-align: center;
	font-weight: bolder;
}
#infoCourseType{
	font-style: italic;
}

