// Place all the styles related to the displays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0px;
}

.container{
	max-width: 1140px;
	min-width: 1140px;
	margin: auto;
	padding: 5px;
	overflow: visible;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
	box-shadow: 0px 2px 5px -2px black;
	-webkit-box-shadow: 0px 2px 5px -2px black;
	-moz-box-shadow: 0px 2px 5px -2px black;
	margin-bottom: 5px;
	color: black;

}

.grid {
	width: 100%;
	float: left;
	padding: 5px;
}

.gridCell {
	width: 100%;
	height: 65px;
}

.gridCol {
	float: left;
	width: 12.5%;
}

.gridCourseCode {
	font-weight: bolder;
	padding-bottom: 3px;
}

.gridContent{
	width: 85%;
	height: 75%;
	padding: 5px;
	overflow: hidden;
	cursor: default;
	line-height: 90%;
	text-align: left;
	position: relative;
	box-shadow: 0px 1px 3px -2px black;
}

.gridCourseName{
	font-size: 12px;
	max-width: 95%;
}

.gridColTitle{
	width: 100%;
	height: 20px;
	text-align: center;
	color: grey;
	font-weight: bolder;
}

.statusDefault{
	background-color: white;
}

.statusFailed{
	background-color: #ce5043;
}

.statusFailed2{
	background-color: #ce5043;
}

.statusApproved{
	background-color:#1aa1e1;
}

.statusCanceled{
	background-color: #777777;
}

.statusExempt{
	background-color: #257BDA;
}

.statusSuspended{
	background-color: darkgrey;
}

.statusEnrolled{
	background-color: #E9C964;
}

[data-assigned = 'true']{
	cursor: pointer;
}

[data-assigned = 'true']:hover{
	opacity: 0.85;
}

[data-selected = 'true']{
	box-shadow: 2px 2px 0px 0px #444;
}

.opttag{
	font-weight: normal;
	font-style: italic;
}

.optCells{
	width: 100%;
	float: left;
}

#infoCourseName{
	text-align: center;
	font-weight: bolder;
}
#infoCourseType{
	font-style: italic;
}

.tabSelectors{
	width: 100%;
	float: left;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: darkgrey;
}

#chartContainer{
	width: 1000;
}

.tabSelector{
	height: 20px;
	padding: 10px 10px 10px 30px;
	float: left;
	cursor: pointer;
	color: #555555;
	text-align: left;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-origin:padding-box;
	background-position: left center;
	margin: 0px 20px 0 20px;

}

.tabSelector:hover{
	border-bottom-style: solid;
	border-width: 5px;
	border-color: #1abc9c;	
}

#chartTab{
	background-image: url(chart.png);
}
#gridTab{
	background-image: url(grid.png);
}
#listTab{
	background-image: url(list.png);
}
#textTab{
	background-image: url(note.png);
}

#chartTab.selectedTab{
	background-image: url(chart_green.png);
}
#gridTab.selectedTab{
	background-image: url(grid_green.png);
}
#listTab.selectedTab{
	background-image: url(list_green.png);
}
#textTab.selectedTab{
	background-image: url(note_green.png);
}

.selectedTab{
	border-bottom-style: solid;
	border-width: 5px;
	border-color: #1abc9c; 
	color: #1abc9c; 
}

.tabContent{
	width: 100%;
	background-color:#f9f9f9;
	float: left;
	overflow: hidden;
}

.enrollCount{
	color: white;
	margin: -1px;
	background-color: #404040;
	border-radius: 3px;
	float: right;
	width: 16px;
	font-size: 12px;
	height: 12px;
	text-align: center;
	display: none;
}

#chartContainer{
	width:100%;
	min-width: 100%;
	max-width: 100%;
}

.grids{
	width: 70%; 
	float: left;
}

.courseDetails{
	width: 30%; 
	float: left;
}

.courseInfo{
	display: none;
	text-align: center;
	margin: 10px;
}

.infoTable{
	width: 100%;
	border-collapse: collapse;
}

.infoTable{
	max-height: 100px;
	overflow: scroll;
}

.infoTableTitle{
	color: grey;
	background-color:#eeeeee;
}

.infoTableRow{
	outline-color: white;
	outline-style: solid;
	outline-width: 1px;
}

.cellSemester{
	width:15%;
}
.cellGrad{
	width:5%;
}
.cellFreq{
	width:5%;
}
.cellStatus{
	width:60%;
}

#courseStatus{
	margin: 5px;
	padding: 5px;
	position: relative;
	background-color: white;
	box-shadow: 0px 1px 3px -2px black;
}

