// Place all the styles related to the displays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0px;
}


.info{


}

.container{
	width: 100%;
	max-width: 1000px;
	min-width: 1100px;
	margin: auto;
	padding: 5px;
	overflow: hidden;
	background-color: white;
	outline-width: 1px;
	outline-color: lightgrey;
	outline-style: solid;
	box-shadow: 0px 2px 5px -2px black;
	margin-bottom: 5px;
	color: black;
	
}

.grid {
	background-color: #eeeeee;
}

/*
grid:after, grid:before{

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}
*/

.gridCell {
	width: 100%;
	height: 60px;
	margin-bottom: 2%;
	overflow: hidden;


}

.gridCol {
	float: left;
	width: 12%;

	margin: 0.25%;

}

.gridCourseCode {
	font-weight: bolder;

}

.gridContent{
	width: 90%;
	height: 80%;
	overflow: hidden;
	padding: 5px;
	cursor: default;
	line-height: 90%;
	text-align: center;
	outline-color: lightgrey;
	outline-width: 1px;
	outline-style: solid;
	color: black;
}



.gridCourseName{
	font-size: 12px;
	max-width: 95%;

}

.gridCourseName{

}

.gridCourseCode{

}


.gridColTitle{
	height: 30px;
	text-align: center;
	background-color: #333333;
	color: lightgrey;
	font-weight: bolder;
}

.statusDefault{
	background-color: white;
}

.statusFailed{
	background-color: #CF676F;
}

.statusFailed2{
	background-color: #C2414A;
}

.statusCanceled{
	background-color: lightgrey;
}

.statusApproved{
	background-color: #7499E0;
}

.statusExempt{
	background-color: #257BDA;
}

.statusSuspended{
	background-color: darkgrey;

}

.statusEnrolled{
	background-color: #E9C964;
}



.tooltip{
	background-color: white;
	height: 40px;
	width: 150px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	position: absolute;
	display: none;
}

.tooltip:before{
	border-top: 13px solid transparent;
	border-right: 26px solid red;
	border-bottom: 13px solid transparent;
	width: 0;
	height: 0;
}

.tooltip-triangle {
	width: 0;
	height: 0;
	margin-top: -10px;
	position: absolute;
	left: 20px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 11px solid white;
}

.tooltipTable{
	font-size: 12px;
	width: 100%;
	line-height: 75%;
	text-align: center;
}

.tooltipTableTitle{
	color: grey;

}

.tooltipTableStatus{
	font-weight: bolder;

}

.courseInfo{
	display: none;
}


.infoTable{
	width: 100%;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.infoTableRow{
}

[data-assigned = 'true']{
		cursor: pointer;
}

[data-assigned = 'true']:hover{
	box-shadow: 1px 1px 4px 0px black;
}


[data-selected = 'true']{
	outline-color: #888888;
	outline-width: 5px;
	outline-style: solid;
}

.infoTable{
	max-height: 100px;
	overflow: scroll;	

}

.infoTableTitle{
	color: grey;
	background-color:#eeeeee;


}