#program-container {
	width: 100%;
	display: table;
	border: solid 1px;
	/*border-right: 0px;*/
	table-layout: fixed;
	background-color: lightgrey;
}

.courses-container {
	display: table-cell;
	/*border-right: solid 1px;*/
}

.course-element {
	padding-top: 5px;
	background-color: white;
	min-height: 100px;
	text-align: center;
	position: relative;
	border: solid 1px;
	background-color: white;
}

.course-element-content {
	width: 100%;
}

.course-element-control {
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0px;
}

.button-up {
	float: left;
	height: 20px;
	width: 20px;
	background-image: url(arrow_up.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px 18px;
}

.button-down {
	float: left;
	height: 20px;
	width: 20px;
	background-image: url(arrow_down.png);
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: center;
}

.button-info {
	float: right;
	height: 20px;
	width: 20px;
	background-image: url(info.png);
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: center;
}